*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*~
*.swp
*.swo

dotfiles/vim/.netrwhist

# vimplugin controled by vundle
dotfiles/vim/bundle
!dotfiles/vim/bundle/neobundle.vim
